
.header-news-img{
    margin-top: 8px;
}

.topic-news{
    color: #862225;
    text-align: left;
    font-weight: bold;
    font-size: 1.15rem;
}

.small-title-news{
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

.title-large{
    margin-top: 4px;
    font-size: 2rem;
    font-weight: bold;
}

.title-small{
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

.author{
    margin-top: 4px;
    font-size: 0.875rem;
    font-weight: bold;
}

.related-news-list li{
    list-style-type: '\25D7';
    margin-left: 10px;
    color: #063A74;
    margin-top: 12px;
}

.article-text-only{
    margin-top: 8px;
    font-weight: 100;
}

.bottom-news-middle-layout{
    padding-bottom: 12px;
    padding-right: 3px;
    padding-left: 3px;
}