
.header-news-img{
    margin-top: 8px;
    text-align: inherit;
}

.topic-news{
    color: #862225;
    font-weight: bold;
    font-size: 1.15rem;
}

.small-title-news{
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

.title-large{
    margin-top: 4px;
    font-size: 2rem;
    font-weight: bold;
}

.title-small{
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

.author{
    margin-top: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: inherit;
}

.related-news-list li{
    list-style-type: '\25D7';
    margin-left: 10px;
    color: #063A74;
    margin-top: 12px;
}

.article-text-only{
    margin-top: 8px;
    font-weight: 100;
}

.entertainment-article{
    padding-bottom: 12px;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 16px;
    border-bottom: 1px solid #CBCFD3;
}

.main-article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 899px) {

    .main-article{
        justify-content: center;
        text-align: center;
    }

    .entertainment-article{
        padding: 16px;
    }

}