
.footer-container{
    padding: 8px;
}

.social-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.logo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.link-list{
    border-bottom: 1px solid #000000;
    margin-bottom: 8px;
}

.link-list ul{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.link-list li{
    font-weight: bold;
    font-family: 'LibreFranklin', serif;
    font-size: 0.9rem;
}

.blue-footer{
    font-family: 'LibreFranklin', serif;
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1.5;
    width: 100%;
    color: #CBCFD3;
    background-color: #063A74;
}

.footer-paragraph{
    padding-bottom:16px;
    padding-top: 16px;
}

@media (max-width: 899px) {
    .logo-footer {
        flex-direction: column;
        justify-content: center;
    }

    .link-list ul {
        flex-direction: column;
    }

    .link-list{
        border-bottom: transparent;
    }

    .footer-img{
        display: block;
        margin: auto;
    }

    .footer-paragraph{
        margin-left: 8px;
        margin-right: 8px;
        text-align: center;
    }

}