
.social-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    height: 44px;
    padding-left: 8px;
    padding-right:8px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-logo{
    margin-left: 16px;
}

.logo-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 96px;
}

.account-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-navbar{
    padding: 4px 8px;
    background-color: #063A74;
    vertical-align: middle;
}

.secondary-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: 'LibreFranklin', serif;
}

.header-editions{
    text-align: center;
    font-size: medium;
    line-height: 1.75;
    font-weight: lighter;
}

.editions-list{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-ed{
    font-weight: bolder;
    font-size: 0.9rem;
    line-height: 1.8;
    text-decoration: none;
    color: #000000;
}

.list-primary-navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-list-navbar-items{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}