@font-face {
    font-family: 'LibreFranklin';
    src: url(/fonts/LibreFranklin-VariableFont_wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'IBMPlexSans', serif;
}

.container{
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 990px) {
    .container{
        max-width: 990px;
    }
}