
.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #063A74;
    overflow-x: hidden;
    color: #ffffff;
    padding: 0;
}

.close-button{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ffffff;
}

.sidenav-layout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.logo-sidenav{
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 8px;
}

.nav-row-to-column{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-sidenav{
    fill: #ffffff;
    width: 25px;
    height: 25px;
    padding-right: 8px;
}

.link-list-sidenav-container{
    font-family: 'LibreFranklin', serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
    font-weight: bolder;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

.link-list-sidenav{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.link-list-sidenav li{
    padding-top: 16px;
    font-size: 0.8rem;
    font-weight: lighter;
}


@media (max-width: 899px) {

    .nav-row-to-column{
        flex-direction: column;
    }

    .link-list-sidenav-container{
        border-bottom: transparent;
    }

}