
.news-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.slick-dots {
    bottom: 10px;
    list-style: none;
    margin: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slick-dots li button {
    font-size: 0;
    background-color: #AD4F59;
    border: none;
    width: 30px;
    height: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: white;
}

.news-slider, .video-container li button {
    font-size: 0;
    background-color: #C1CEDC;
    border: none;
    width: 30px;
    height: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.news-slider, .video-container li.slick-active button{
    background-color: #063A74;
}